*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #3498DB;
}

.container{
    width: 690px;
    background: #fff;
    border-radius: 7px;
    padding: 30px;
}

.wrapper{
    border-radius: 5px;
    border: 1px solid #bbb;
}

.wrapper .text-input{
    display: flex;
    border-bottom: 1px solid #bbb;
}

.text-input .to-text{
    border-radius: 0px;
    border-left: 1px solid #bbb;
}

.text-input textarea{
    height: 250px;
    width: 100%;
    border: none;
    outline: none;
    font-size: 18px;
    border-radius: 5px;
    background: none;
    padding: 10px 15px;
    resize: none;
}

.controls, li, .icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.controls{
    padding: 12px 15px;
    list-style: none;
}

.controls .row.from .icons{
    padding-right: 15px;
    border-right: 1px solid #bbb;
}

.controls .row.to .icons{
    padding-left: 15px;
    border-left: 1px solid #bbb;
}

.controls .icons{
    width: 38%;
}

.controls .icons i{
    width: 50px;
    font-size: 14px;
    cursor: pointer;
}

.controls .row select{
    border: none;
    outline: none;
    font-size: 18px;
    background: none;
}

.controls .exchange{
    font-size: 16px;
    cursor: pointer;
}

.container button{
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    font-size: 18px;
    border-radius: 7px;
    cursor: pointer;
    border: none;
    outline: none;
    background: #5372F0;
    color: white;
}